---
layout: default
title: Home
---


<div class="row-fluid">
  <div class="col-md-12 mb-5">
    <p class="custom-large-text mb-3">
      Tourism was one of the first sectors afflicted by the pandemic, and it will be one
      of the last to recover.</p>
    <br />
    <br />
    <br />
    <br />

    <!-- <h3>ABOUT THIS PROJECT</h3>

    <p>For the last seven months, <a href="http://kathmandulivinglabs.org">Kathmandu Living Labs</a> has been working to
      document the effects of the COVID-19 pandemic, as felt by tourism industry in Nepal. </p>

    <p>We met with individuals working in tourism, individuals who own or used to own tourism-related businesses, and individuals
      working for the
      sector’s recovery in some capacity (government officials, etc.). We listened to them, and gathered information
      around their lived
      experience, through informal interviews, through focused group discussions, and through surveys. When doing this, we focused on the economic and
      psychosocial impacts that the pandemic has had on them. We also tried to capture their needs for the next few months, in the hope that
      this
      information would be useful for future decisions made for the industry.</p>

    <p>Through this report, we want to share some intermediate findings and recommendations, based on the data we
        received through interviews, and through our ongoing surveys targeted at tourism workforce and tourism businesses. These surveys, for which data collection started in the month of April 2021, have so far been filled by
      206 individuals working in the tourism sector, and 106 individuals who own or manage the operations of
      different tourism businesses in and around the capital city of Kathmandu.
    </p>
    <p>Analysing the data we recieved so far, we think that the information
      gathered can already provide useful direction to lobbyists, decision-makers, and
      well-wishers of the tourism industry, as they take next steps to mitigate the effects, and support the recovery of
      a very important sector in
      Nepal.</p> -->
    <!-- <p>


      Around a million families' livelihoods hang in the balance as Nepal braces for the
      possible second-wave of COVID-19 in 2021.
    </p>

    <p>On April and May 2021, Kathmandu Living Labs, with support from the Hotel Association of Nepal, Nepal Tourism
      Board, Thamel Tourism
      Development Committee collected data on tourism sector employees and businesses through a web-based
      survey.</p>
    <p>
      This report presents findings from these surveys, and is aimed at tourism policy-makers, associations and unions working to support the recovery of Nepal's tourism sector. It attempts to supplement their
      actions
      by giving them the latest picture of:
    </p> -->
    <!-- <ul style="list-style-type: circle;">
      <li>
        COVID’s impacts on tourism businesses and workers
      </li>

      <li>
        Their preparedness and therefore, their needs in the face of a possible second-wave of COVID.
      </li>

    </ul> -->

    <br />

    <!-- <h4></h4>
    <p>Over the last two months (April and May 2021) Kathmandu Living Labs, with support from the Hotel Association of Nepal, Nepal Tourism Board, Thamel Tourism
      Development Committee has been collecting data on tourism sector employees and businesses through a web-based survey.</p> -->
  </div>
</div>
<h3 class="mb-2">DATA DEEP DIVES</h3>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      {% for post in site.dives %}
      <div class="col-md-9 mb-5">

        <a class="custom-story-title" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
        <p class="custom-story-desc">{{ post.excerpt | strip_html | truncate: 200 }}</p>
      </div>
      {% endfor %}
    </div>

  </div>

</div>


<!-- <h3 class="mb-2">ROUGH</h3>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      {% for post in site.posts %}
      <div class="col-md-9 mb-5">

        <a class="custom-story-title" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
        <p class="custom-story-desc">{{ post.excerpt | strip_html | truncate: 200 }}</p>
      </div>
      {% endfor %}
    </div>

  </div>

</div> -->


<h3 class="mb-2">STORIES FROM THE GROUND</h3>
<!-- <p class="mb-5" style="font-size: 2rem; line-height: unset;">Tourism in the third largest employer in Nepal. We sta down and talked with people who've spent their lives in tourism. What follows below is collection of stories from Kathamandu's tourism sector, a post-pandemic pulse of the tourism sector.</p> -->
<div class="row">
  <div class="col-md-8">
    <div class="row">
      {% for story in site.stories %}
      <div class="col-md-9 mb-5">

        <a class="custom-story-title" href="{{ story.url | prepend: site.baseurl }}">
          {{ story.title }}.
        </a>
        <p class="custom-story-desc">{{ story.excerpt | strip_html | truncate: 200 }}</p>
      </div>
      {% endfor %}
    </div>

  </div>

</div>