---
layout: default
title: Home
---
<div class="row-fluid">
  <div class="col-md-10 mb-5">
    <p class="custom-large-text mb-5">
     Tourism was one of the first sectors to be afflicted by the pandemic, and it will be one
      of the lasts to recover.</p>
    <br/>
    <br/>
    <br/>
    <br/>
    
    <h3>ABOUT THIS PROJECT</h3>
      <p >


      Around a million families' livelihoods hang in the balance as Nepal braces for the
      possible second-wave of COVID-19 in 2021
    </p>
    <p >
      This report is targeted for tourism policy-makers, associations and unions. It attempts to supplement their
      actions
      by giving them the latest picture of:
    </p>
<ul style="list-style-type: circle;">
  <li>
    COVID’s impacts on tourism businesses and workers
  </li>

  <li>
    Their preparedness and therefore, their needs in the face of a possible second-wave of COVID.
  </li>

</ul> 

  </div>
</div>
<br/>
<br/>
<br/>
<h3 class="mb-2">SURVEY RESULTS</h3>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      {% for post in site.posts %}
      <div class="col-md-9 mb-5">

        <a class="custom-story-title" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
        <p class="custom-story-desc">{{ post.excerpt | strip_html | truncate: 200 }}</p>
      </div>
      {% endfor %}
    </div>

  </div>

</div>


<h3 class="mb-2">STORIES FROM THE GROUND</h3>
<!-- <p class="mb-5" style="font-size: 2rem; line-height: unset;">Tourism in the third largest employer in Nepal. We sta down and talked with people who've spent their lives in tourism. What follows below is collection of stories from Kathamandu's tourism sector, a post-pandemic pulse of the tourism sector.</p> -->
<div class="row">
  <div class="col-md-8">
    <div class="row">
      {% for story in site.stories %}
      <div class="col-md-9 mb-5">

        <a class="custom-story-title" href="{{ story.url | prepend: site.baseurl }}">
          {{ story.title }}.
        </a>
        <p class="custom-story-desc">{{ story.excerpt | strip_html | truncate: 200 }}</p>
      </div>
      {% endfor %}
    </div>

  </div>

</div>