---
layout: default
---


<style>
    h4 {
        /* font-family: 'Goudy Bookletter 1911'; */
        color: #555;
        font-size: 1rem;
        ;

    }

    .highlight {
        background: #ffffff;
    }

    h5 {
        /* font-family: 'Goudy Bookletter 1911'; */
        font-weight: bold;
    }

    ol {
        list-style-type: lower-alpha;
    }

    pre {
        width: 70.5%;
        padding-left: 2.5%;
        overflow-x: auto;
        color: #ac2020;

    }

    code {
        font-size: 1rem !important;

    }
</style>

<h3>{{ page.survey}} ANALYSIS</h3>
<h1 class="custom-article-header">{{ page.title}}</h1>
<span style="font-size:1.2rem">{{page.author}}</span>
<div class="post">
    <div style="max-width: 600px; padding-top: 20px; padding-bottom:20px;font-size: 1.2rem">
    </div>
    {{ content }}
</div>