---
layout: default
---
<h1 style="max-width:50vw; line-height: 1.1;">{{ page.title}}</h1>
<!-- <p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p> -->



<div class="post">
    <div style="max-width: 600px; padding-top: 20px; padding-bottom:20px;font-size: 1.2rem">
        <span style="color:red;">This document shows numbers and data from an ongoing survey. It is undergoing a lot of iterations and highly likely to change. These numbers has not been fully verified. Hence, insights presented in this page cannot be completely trusted.</span>
    </div>
    {{ content }}
</div>

